.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: rgb(255, 255, 255);
}

.App-intro {
  font-size: large;
}
.button1{
  background: #000000;
  width: 220px;
  padding: 4px 0;
  
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 3px;
  cursor: pointer;
  font-family: 'Roboto'; 
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  user-select: none;
}
.button2{
  background: #47b357;
  width: 220px;
  padding: 4px 0;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 3px;
  cursor: pointer;
  font-family: 'Roboto'; 
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  user-select: none;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #47b357;
  color: white;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
